<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <form action="" method="post" class="auth__form">
        <select class="selectedVal">
            <option selected disabled>Выберите значение</option>
            <%for(let i=0;i<result.length;i++){%>
                <option><%=JSON.stringify(result[i].setPrivilege).replace(/"/g,'')%></option>
            <%}%>
        </select>
        <button class="submit">Авторизация</button>
    </form>
<script src="public/js/login.js"></script>
</body>
</html>