<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="streaming-videos">
    <iframe src="http://62.133.168.113:32154/video.mjpg?oid=1&size=400x400" frameborder="0" width="400" height="400" ></iframe>
    <iframe src="http://62.133.168.113:32154/video.mjpg?oid=2&size=400x400" frameborder="0" width="400" height="400"></iframe>
</div>
</body>
</html>