@import 'ticket.css';

:root {
    --grid-height: 100vh;
    --grid-width: 100%;
    --eq-width: 38%;
    --content-width: 62%;
    --head-height: 150px;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: var(--grid-height);
    width: var(--grid-width);
    font-size: 53px;
    overflow: hidden;
}

.header {
    width: 100%;
    text-align: center;
    font-weight: 800;
    line-height: 1em;
    color: #729700;
}
/*.wrapper{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/
.header span {display: block; font-size: 30px; color: #425602}
.time{
    color:#ffff;
    font-size: 32px;
    font-family:"Arial";
    font-weight: bold;
}
.take__ticket {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 1200px;
    flex-direction: row;
}
.modal__ticket {
    position: fixed;
    top: 20px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.ticket{
    position: relative;
    margin: 0 auto;
    height:315px;
    width: 300px;
    outline: 5px solid black;
    outline-offset: -6px;
    background: white;
    opacity: 1;
}

.ticket div {width: 100%; text-align: center;}
.org_name {font-size: 14px; font-weight: 800; padding: 30px 0 0;}
.tick__date {font-size: 20px; font-weight: 800;}
.tick__numb {font-size: 80px; font-weight: 800;}
.tick__service {font-size:20px;font-weight: 500;}
.service-name {margin:0;}
.tick__logo {
    height: 45px;
    /* width: 130px !important; */
    /* margin: 20px auto 0; */
    padding: 5px 0 0 0;}
.tick__logo img {-o-object-fit: cover;
    object-fit: cover;
    object-position: center; width: 120px;}

.btn__ticket {
    background: rgb(127,168,0);
    background: linear-gradient(351deg, rgba(127,168,0,1) 0%, rgba(168,208,1,1) 100%);
    border-radius: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 13px 0 0 #425602;
    border-bottom: 1px solid #92c000;
    margin:10px;
    flex: 1;
}
.btn__ticket span {
    text-align: center;
    margin: 25px auto;
    color: #ffff;
}

/*.btn__ticket:active {*/
/*    margin: 13px auto 0;*/
/*    box-shadow: none*/
/* }*/
