@import 'ticket.css';

:root {
    --grid-height: 100vh;
    --grid-width: 100%;
    --eq-width: 38%;
    --content-width: 62%;
    --head-height: 150px;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: var(--grid-height);
    width: var(--grid-width);
    font-size: 53px;
    overflow: hidden;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 30px 0;
    background: rgba(0,0,0,0.9);
}
.modal__wrap{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}
.tv__end{
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    width: 600px;
    max-width: 100%;
    background: #fff;
    transition: transform 0.15s ease 0s,opacity 0.15s ease 0s;
    transform: scale(1);
    text-align: center;
    border-radius:10px;

}

.header {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: #729700;
    display: flex;
    justify-content: center;
}
.header p{
    width:800px;
}
.header span {display: block; font-size: 30px; color: #425602}
.time{
    color:#ffff;
    font-size: 32px;
    font-family:"Arial";
    font-weight: bold;
}
.ticket__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.small{
    width:700px;
    height: 133px;
}
.btn__ticket.small{
    height: 200px;
    width: 900px;
    padding: 20px 20px 15px;
}

.small .btn__text{
    margin: 20px;
    text-transform: uppercase;
    font-size:48px
}

.centered.btn__col{
    width: 100%;
    margin-top:50px;
}
.active .centered{
    display: flex;
    justify-content: center;
}

.btn__col{
    width: 550px;
    margin: 10px;
    height: 150px;
}

.modal__ticket {
    position: fixed;
    top: 20px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    user-select: none;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.ticket{
    position: relative;
    margin: 0 auto;
    height:315px;
    width: 300px;
    outline: 5px solid black;
    outline-offset: -6px;
    background: white;
    opacity: 1;
}

.ticket div {width: 100%; text-align: center;}
.org_name {font-size: 14px; font-weight: 800; padding: 30px 0 0;}
.tick__date {font-size: 20px; font-weight: 800;}
.tick__numb {font-size: 80px; font-weight: 800;}
.tick__service {font-size:20px;font-weight: 500;}
.service-name {margin:0;}
.tick__logo {
    height: 45px;
    padding: 5px 0 0 0;
}
.tick__logo img {
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center; width: 120px;
}

.btn__ticket {
    height: 130px;
    position: relative;
    background: rgb(127,168,0);
    background: linear-gradient(351deg, rgba(127,168,0,1) 0%, rgba(168,208,1,1) 100%);
    border-radius: 10px;
    box-shadow: 0px 13px 0 0 #425602;
    border-bottom: 1px solid #92c000;
    user-select: none;
}

.btn__text{
    font-size: 32px;
    color: #ffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    text-align: center;
}
.active{
    background-color: #c0c0c0;
    opacity: 0.6;
    width: 100%;
}
.disable{
    pointer-events: none;
    opacity: 0.4;
    user-select: none;
}
@media screen and (min-width: 1700px) and (min-height: 800px) {
    .btn__col{
        padding:10px 40px 0px;
        width: 600px;
        margin: 10px;
        height: 130px;
    }
}
.header p{
    margin: 20px;
}
.btn__active{
    margin: 13px auto;
    box-shadow: none;
}