body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}
.ticket__wrap{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 55%;
}
.number{
display: flex;
justify-content: space-around;
}
.tv__info{
    position: absolute;
}